<div class="footer">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>About New Life Care</h2>
                <div>About Us</div>
                <div>Contact Us</div>
                <div>FAQs</div>
                <div>Health Queries</div>
                <div>Terms and Conditions</div>
            </div>

            <div class="col-md-3">
                <h2>Services</h2>
                <div>Online Doctor Consultation</div>
                <div>Online Medicines</div>
                <div>Covid Vaccine Tracker</div>
                <div>Covid Vaccine Update</div>
                <div>Doctors by Specialty</div>
                <div>All Doctors List</div>

            </div>
            <div class="col-md-3">
                <h2>Product Catgeries</h2>
                <div>Health Care</div>
                <div>Baby Care</div>
                <div>Personal Care</div>
                <div>Beauty Skin Care</div>
                <div>Immunity Boosters</div>
                <div>Diabetes Care</div>

            </div>
            <div class="col-md-3">
                <h2>Policy</h2>
                <div>Returns Policy</div>
                <div>Privacy Policy</div>
                <div>Mediclaim Policy</div>
                <div>ECHS Policy</div>
                <div>Rajiv Gandhi Yojana</div>
            </div>
        </div>
    </div>

</div>