<br><br>

<h2>When would I need a cardiologist?</h2>
<p>If a person has symptoms of a heart condition, their physician may refer them to a cardiologist.

    Symptoms that can indicate a heart problem include:</p>

<ul>
    <li>shortness of breath</li>
    <li>dizziness</li>
    <li>chest pains</li>
    <li>changes in heart rate or rhythm</li>
    <li><a href="#">high blood pressure</a></li>
</ul>

<hr>

<h2>Why does my tooth still hurt after a filling?</h2>
<p>
    Most of the time, this sensitivity is normal and will resolve within a few days or weeks.

    A person should call their dentist right away if they have extreme pain, or if discomfort occurs with other
    symptoms, such as fever, redness, or swelling.

    In this article, we look at the reasons why a person may have tooth sensitivity after a filling, how to treat it,
    and when to see a doctor or dentist. We also look at other possible causes of tooth sensitivity.
</p>
<hr>

<h2>Does Medicare cover dermatology?</h2>
<p>
    Medicare may cover medically necessary dermatology services, such as the removal or treatment of cancerous skin
    lesions.

    In the instances where Medicare does cover dermatology services, Medicare Part B is usually the portion that
    provides coverage.

    In this article, we detail which dermatology services Medicare typically covers and which it excludes.

</p>
<hr>

<h2>What is a nephrologist?</h2>
<p>
    A nephrologist is a type of doctor who focuses on the diagnosis and treatment of kidney conditions. Nephrologists
    also receive training to help manage the impact of kidney dysfunction on the rest of the body.

    A doctor may refer someone to a nephrologist if they believe that the person shows signs of kidney problems, such as
    kidney disease, infections, or growths.

    In this article, we discuss what nephrologists do, the types of conditions they treat, the procedures they perform,
    and when someone might need to visit one.
</p>