<img src="assets/images/hospital.jpg" style="width: 100%; margin-top: 20px;"><br><br>

<p>
    A hospital is a place where a person goes to be healed when he or she is sick or injured. The difference between a
    hospital and other healthcare places like a clinic or a doctor's office is that a hospital will have beds where
    patients can stay overnight. These patients are called inpatients. Hospitals also treat people who do not stay
    overnight, called outpatients. Doctors and nurses work at hospitals. Doctors make use of advanced medical technology
    to heal patients.

    Patients who are staying at the hospital will always be under the care of doctors and nurses who are always
    available for taking care of the injured or sick patients. Hospitals always have the tools and machines needed for
    treating the patients.

    The word hospital originally meant "a place where people can stay". There have been hospitals for sick people since
    ancient times. They were often created and run by religious groups. In the early modern period, hospitals began to
    be funded by donations from rich people and by governments. Today, hospitals may get money from the government, from
    charging patients for the treatments and check-ups, from patients' health insurance, from people giving to charity
    or a mix of those things.
</p>