<div class="container-fluid" style="padding-top: 20px;">
    <div class="row">
        <div class="col-md-4">
            <img src="assets/images/gallery1.jpg">
        </div>
        <div class="col-md-4">
            <img src="assets/images/gallery2.jpg">
        </div>
        <div class="col-md-4">
            <img src="assets/images/gallery3.jpg">
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/images/gallery4.jpg">
        </div>
        <div class="col-md-4">
            <img src="assets/images/gallery5.jpg">
        </div>
        <div class="col-md-4">
            <img src="assets/images/gallery6.jpg">            
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/images/gallery7.jpg">
        </div>
        <div class="col-md-4">
            <img src="assets/images/gallery8.jpg">
        </div>
        <div class="col-md-4">
            <img src="assets/images/gallery9.jpg">            
        </div>
    </div>
</div>